Sofern die Nutzung schon aufgrund einer urheberrechtlichen Schranke gestattet ist (vgl. §§ 44a ff. Urheberrechtsgesetz), bedarf es keiner CC-Lizenz und die Lizenzpflichten sind dann nicht einschlägig. Wir weisen darauf hin, dass die gesetzlichen Ausnahmen meist nur einen engen Anwendungsbereich besitzen und zum Teil (über Verwertungsgesellschaften) vergütungspflichtig sind. Wir empfehlen, hierzu stets eine sorgfältige Prüfung vorzunehmen. Im Zweifel sollte daher die CC-Lizenz in Anspruch genommen werden.
<ul class="answers">
	<li class="a1">Ja, ich möchte die CC-Lizenz in Anspruch nehmen.</li>
	<li class="a2">Nein, ich möchte auf die gesetzliche Ausnahme stützen.</li>
</ul>
