<div class="final-attribution">
	<h2>{{translate 'evaluation.your-attribution'}}</h2>
	<div class="attribution-box">
		{{{attribution}}}
	</div>
	<div class="buttons">
		{{#unless isPrint}}
			<button class="active green-btn">Text</button>
			<button class="green-btn">HTML</button>
		{{/unless}}
		<button class="copy green-btn" id="copy-attribution">
			<i class="glyphicon glyphicon-copy"></i>
			{{translate 'evaluation.copy'}}
		</button>
	</div>
</div>
