{{#>dialogueBubble title='dialogue.author-headline'}}
	<form class="immediate-submit">
		<p>{{translate 'dialogue.author-label'}}</p>

		<div class="form-group">
			<input type="text" name="author"><button class="green-btn" type="submit">{{translate 'dialogue.next'}}</button>
		</div>

		<label>
			<input type="checkbox" name="no-author" value="true">
			{{translate 'dialogue.answer-no-author'}}
		</label>
	</form>
{{/dialogueBubble}}
