<div>
	{{translate 'dialogue.author-headline'}}

	<form class="immediate-submit">
		<input type="text" name="author"><button class="green-btn" type="submit"></button>

		<label>
			<input type="radio" name="no-author" value="true">
		</label>
	</form>
</div>
