{{#>dialogueBubble}}
	{{#*inline 'title'}}
		{{translate 'dialogue.change-headline'}}

		{{#>questionMark}}
			{{translate 'dialogue.change-question-mark'}}
		{{/questionMark}}
	{{/inline}}

	{{#*inline 'content'}}
		<form>
			<div class="form-group">
				<input type="text" name="change"><button class="green-btn" type="submit">{{translate 'dialogue.next'}}</button>
			</div>
		</form>
	{{/inline}}
{{/dialogueBubble}}
