{{#>dialogueBubble title='dialogue.change-headline'}}
	<form>
		<div class="form-group">
			<input type="text" name="change"><button class="green-btn" type="submit">{{translate 'dialogue.next'}}</button>
		</div>
	</form>
{{/dialogueBubble}}
