<div>
	<form class="immediate-submit">
		{{translate 'dialogue.compilation-headline'}}

		<label>
			<input type="radio" name="compilation" value="true"> {{translate 'dialogue.answer-compilation'}}
		</label>
		<label>
			<input type="radio" name="compilation" value="false"> {{translate 'dialogue.answer-no-compilation'}}
		</label>
	</form>
</div>
