{{#>dialogueBubble}}
	{{#*inline 'title'}}
		{{translate 'dialogue.compilation-headline'}}
	{{/inline}}

	{{#*inline 'content'}}
		<form class="immediate-submit">
			<div class="form-group">
				<label>
					<input type="checkbox" name="compilation" value="true">
					{{translate 'dialogue.answer-compilation'}}
				</label>
			</div>

			<div class="form-group">
				<label>
					<input type="checkbox" name="compilation" value="false">
					{{translate 'dialogue.answer-no-compilation'}}
				</label>
			</div>
		</form>
	{{/inline}}
{{/dialogueBubble}}
