{{#>dialogueBubble}}
	{{#*inline 'title'}}
		{{translate 'dialogue.compilation-headline'}}
	{{/inline}}

	{{#*inline 'content'}}
		<form class="immediate-submit">
			<label>
				<input type="checkbox" name="compilation" value="true"> {{translate 'dialogue.answer-compilation'}}
			</label>
			<label>
				<input type="checkbox" name="compilation" value="false"> {{translate 'dialogue.answer-no-compilation'}}
			</label>
		</form>
	{{/inline}}
{{/dialogueBubble}}
