{{#>dialogueBubble title='dialogue.creator-headline'}}
	<form>
		<input type="text" name="name"><button class="green-btn" type="submit">{{translate 'dialogue.next'}}</button>
	</form>
{{/dialogueBubble}}
