{{#>dialogueBubble}}
	{{#*inline 'title'}}
		{{translate 'dialogue.creator-headline'}}

		{{#>questionMark}}
			{{translate 'dialogue.creator-question-mark'}}
		{{/questionMark}}
	{{/inline}}

	{{#*inline 'content'}}
		<form>
			<input type="text" name="name"><button class="green-btn" type="submit">{{translate 'dialogue.next'}}</button>
		</form>
	{{/inline}}
{{/dialogueBubble}}
