<div class="dialogue-bubble">
	<div class="triangle"></div>

	<div class="bubble-content">
		<h2 class="bubble-header">
			{{translate title}}
		</h2>
		<div class="bubble-text">
			{{{@partial-block}}}
		</div>
	</div>
</div>
