<div class="dialogue-bubble">
	<div class="ag-progress-bar"></div><!-- .progress-bar is used by bootstrap -->

	<div class="animated-content">
		<div class="triangle"></div>

		<div class="bubble-content">
			<h2 class="bubble-header">
				{{> title}}
			</h2>
			<div class="bubble-text">
				{{> content}}
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
</div>
