<div class="screen dialogue-screen">
	<div style="height: {{imageHeight}}px" class="image-wrapper">
		<img src="{{thumbUrl}}" class="image-preview">
		<div style="width: {{imageWidth}}px" class="image-preview-tail">
			<a href="{{url}}" download="">
				<button class="green-btn" id="image-download-button">Download</button>
			</a>
		</div>
	</div>

	<div class="dialogue">
		Dialogue goes here.
	</div>
</div>
