{{#>dialogueBubble}}
	{{#*inline 'title'}}
		{{translate 'dialogue.editing-headline'}}

		{{#>questionMark}}
			{{translate 'dialogue.editing-question-mark'}}
		{{/questionMark}}
	{{/inline}}

	{{#*inline 'content'}}
		<form class="immediate-submit">
			<div class="form-group">
				<label>
					<input type="checkbox" name="edited" value="true">
					{{translate 'dialogue.answer-edited'}}
				</label>
			</div>

			<div class="form-group">
				<label>
					<input type="checkbox" name="edited" value="false">
					{{translate 'dialogue.answer-not-edited'}}
				</label>
			</div>
		</form>
	{{/inline}}
{{/dialogueBubble}}
