<div>
	<form class="immediate-submit">
		{{translate 'dialogue.editing-headline'}}

		<label>
			<input type="checkbox" name="edited" value="true"> {{translate 'dialogue.answer-edited'}}
		</label>
		<label>
			<input type="checkbox" name="edited" value="false"> {{translate 'dialogue.answer-not-edited'}}
		</label>
	</form>
</div>
