<div class="info-box">
	<button type="button" class="close close-info">&times;</button>

	<div class="info-box-text">
		{{{content}}}
	</div>

	<div class="info-box-button">
		{{{buttons}}}
	</div>

	<div class="clearfix"></div>
</div>
