<div class="info-box">
	{{#unless noCloseButton}}
		<button type="button" class="close close-info">&times;</button>
	{{/unless}}

	<div class="info-box-text">
		{{{content}}}
	</div>

	<div class="info-box-button">
		{{{buttons}}}
	</div>

	<div class="clearfix"></div>
</div>
