<nav id="progress-bar">
	{{#each steps}}
		<li class="{{#if this.isSubstep}}sub{{/if}} {{#if this.isActive}}active{{/if}}">
			<a href="#">{{translate this.name}}</a>
		</li>
	{{/each}}

	<li><a href="#">{{translate 'done'}}</a></li>
</nav>
