<div>
	<form class="immediate-submit">
		{{translate 'dialogue.type-of-use-headline'}}

		<label>
			<input type="checkbox" name="type" value="print"> {{translate 'dialogue.answer-print'}}
		</label>
		<label>
			<input type="checkbox" name="type" value="online"> {{translate 'dialogue.answer-online'}}
		</label>
	</form>
</div>
