<form class="immediate-submit">
	{{translate 'dialogue.type-of-use-headline'}}

	<label>
		<input type="radio"> {{translate 'dialogue.answer-print'}}
	</label>
	<label>
		<input type="radio"> {{translate 'dialogue.answer-online'}}
	</label>
</form>
