.frontpage {
	padding-top: 200px;
	text-align: center;
}

.frontpage * {
	display: block;
	margin: 0 auto;
}

.frontpage h1 {
	color: rgba(0,0,0,0.1);
	font-size: 32pt;
	font-weight: bold;
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.frontpage .frontpage-container-input {
	background: linear-gradient( 180deg, #3b679e 0%, #2b88d9 100% );
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	box-shadow: 0 2px 6px rgba( 0, 0, 0, 0.2 );
	padding: 12pt 0;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#2b88d9', GradientType=0 );
}

.frontpage input {
	border: 1px solid #cccccc;
	display: inline;
	padding: 4pt;
	width: 550px;
}

.frontpage input.loading {
	background: url( ../gfx/ajax-spinner.gif ) no-repeat #ffffff 99%;
}

.frontpage .frontpage-icon-help {
	border: 2px solid rgba(255,255,255,0.9);
	color: #ffffff;
	display: inline-block;
	font-size: 16pt;
	height: 19pt;
	line-height: 20pt;
	margin-left: 6pt;
	opacity: 0.33;
	text-align: center;
	vertical-align: middle;
	width: 19pt;
}

.frontpage .frontpage-icon-help:hover {
	opacity: 1;
}

.frontpage .frontpage-icon-help.active {
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4);
	line-height: 21pt;
	opacity: 1;
}

.frontpage .frontpage-help-content {
	background: linear-gradient( 160deg, rgba(245,245,245,1) 0%, rgba(215,215,215,0.9) 100% );
	border: 1px solid #cccccc;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
	display: none;
	font-size: 10pt;
	padding: 6pt;
	position: absolute;
	text-align: left;
	width: 250px;
}

.frontpage button {
	margin-top: 6pt;
}

.frontpage .frontpage-error {
	color: white;
	display: none;
	font-size: 10pt;
	font-weight: bold;
	margin-top: 8pt;
}

.frontpage .frontpage-suggestions li {
	border: 1px solid transparent;
	cursor: pointer;
	display: inline-block;
	padding: 4pt;
}

.frontpage .frontpage-suggestions li:hover {
	border: 1px solid black;
}
