.navigation {
	left: 100px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
}

.navigation li {
	background: linear-gradient( 160deg, rgba(230,230,230,1) 0%, rgba(250,250,250,1) 85% );
	border-radius: 0 0 10px 10px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
	color: #3b679e;
	cursor: pointer;
	display: inline;
	float: left;
	font-size: 10pt;
	margin: 0 4pt 4pt 4pt;
	padding: 24pt 10pt 8pt 10pt;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#fafafa', GradientType=0 );
}

.navigation li:hover {
	color: #2b88d9;
	padding-top: 28pt;
}

.navigation-overlay {
	background: radial-gradient(ellipse at center, rgba(255,255,255,0.85) 50%, rgba(255,255,255,1) 80%);
	border-radius: 0 0 10px 10px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
	font-size: 10pt;
	height: 80%;
	left: 50%;
	margin-left: -350px;
	overflow-y: scroll;
	padding: 0 24pt;
	position: absolute;
	top: 0;
	width: 700px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ffffff', endColorstr='#ffffff', GradientType=0 );
}

.navigation-overlay .navigation-overlay-icon-close {
	color: #3b679e;
	font-size: 18pt;
	left: 700px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate( 90deg );
	-moz-transform: rotate( 90deg );
	-ms-transform: rotate( 90deg );
	-o-transform: rotate( 90deg );
	filter: progid:DXImageTransform.Microsoft.BasicImage( rotation=1 );
}

.navigation-overlay .navigation-overlay-icon-close:hover {
	color: #2b88d9;
}

.navigation-overlay-error {
	color: #d17439;
	margin-top: 24pt;
	text-align: center;
}
