html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Helvetica Neue", "Helvetica", "Nimbus Sans L", "Arial", "Liberation Sans", sans-serif;
}

.application {
	height: 100%;
}

.app-frameset {
	border-collapse: collapse;
	display: table;
	height: 100%;
	width: 100%;
}

.app-questionnaire {
	background-color: rgba( 245, 245, 245, 0.9 );
	background: linear-gradient(160deg, rgba(245,245,245,1) 0%,rgba(245,245,245,0.9) 50%, rgba(245,245,245,0.4) 80%);
	box-shadow: 0 3px 8px rgba(0,0,0,0.1);
	font-size: 13pt;
	min-height: 85px;
	padding: 12pt;
	position: fixed;
	top: 15%;
	width: 100%;
}

.app-questionnaire .icon-minimize {
	color: #3b679e;
	cursor: pointer;
	float: right;
	font-size: 18pt;
	margin-right: 360px;
	text-align: center;
	width: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.app-questionnaire .icon-minimize:hover {
	color: #2b88d9;
}

.app-questionnaire .icon-minimize.minimized {
	background: white;
	border-left: 5px solid white;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	margin-right: 0;
	position: absolute;
}


.app-questionnaire .pageContainer {
	margin-left: 100px;
	padding-right: 348px;
}

.app-questionnaire .page {
}

.app-questionnaire .back {
	padding-left: 20px;
	padding-right: 40px;
	position: absolute;
}

.app-questionnaire .back .button {
	display: inline-block;
	-webkit-transform: scaleY(2.5);
	color: #3b679e;
	font-size: 45pt;
}

.app-questionnaire .back .button:hover {
	background: transparent;
	color: #2b88d9;
}

.app-questionnaire .back.disabled .button,
.app-questionnaire .back.disabled .button:hover {
	cursor: default;
	color: rgba(0,0,0,0.1);
}


.app-questionnaire .question {
	font-weight: bold;
}

.app-questionnaire ul.answers {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.app-questionnaire .answers li,
.app-questionnaire a {
	color: #3b679e;
	cursor: pointer;
}

.app-questionnaire .answers li:hover {
	text-decoration: underline;
}

.app-questionnaire .answers li .checkbox {
	background: url(../gfx/checkbox.png) no-repeat;
	display: inline-block;
	height: 20px;
	margin-bottom: -4px;
	overflow: hidden;
	width: 20px;
}

.app-questionnaire .answers li.disabled {
	color: rgba( 0, 0, 0, 0.25 );
}

.app-questionnaire .answers li.disabled:hover {
	text-decoration: none;
}


.app-preview {
	height: 100%;
	text-align: left;
}

.app-preview > div {
	clear: both;
}

.app-preview-spacer {
	float:left;
	height: 50%;
	margin-bottom: 0; /* will be adjusted according to the preview's actual content */
}

.app-preview-supplement {
	background: rgba(245,245,245,1);
	border-bottom: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	box-shadow: 0 0 8px rgba(0,0,0,0.1);
	font-size: 10pt;
	padding: 16px 16px 24pt 16px;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 300px;
}

.app-options {
	bottom: 0;
	color: white;
	display: table;
	font-size: 10pt;
	position: fixed;
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
	box-shadow: -1px -1px 10px rgba(0,0,0,0.3);
	background: linear-gradient(to bottom, #3b679e 0%,#2b88d9 100%);
	z-index: 1;
}

.app-options select {
	margin: 0;
}

.app-options > * {
	display: table-cell;
	text-align: center;
}

.app-options .button {
	cursor: pointer;
	display: inline-block;
	border: 1px solid rgba(59,103,158,0.3);
	padding: 4px 8px;
	margin: 5pt;
	color: #FFFFFF;
	background: linear-gradient(to bottom, #3b679e 0%,#2b88d9 100%);
}

.app-options .button:hover {
	border: 1px solid rgba(255,255,255,0.5);
}

.app-options a.button {
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.app-options .button.active {
	border: 1px solid rgba(59,103,158,0.5);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3);
	background: transparent;
	padding: 5px 7px 3px 9px;
}

.option-underlay {
	background: #2b88d9;
	background: linear-gradient(190deg, #3b679e 0%,#2b88d9 40%);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	color: #FFFFFF;
	font-size: 10pt;
	display: none;
	padding: 8px 8px 24px 8px;
	position: fixed;
}

.option-underlay textarea {
	border: 0;
	float: left;
	padding: 0;
	margin: 0;
	resize: none;
	width: 100%;
}

.option-underlay input {
	clear: both;
	float: left;
}
