<p>Hat der Rechteinhaber oder Urheber eine Internetadresse bei dem Werk angegeben, die auf eine Webseite mit einem Rechtehinweis oder Lizenzinformationen verweist? Bitte geben Sie den Link in das Textfeld ein:</p>
<input type="text" class="fld-custom1" /><a class="a1">Übernehmen und weiter</a>
<ul class="answers">
    <li class="a2">Es ist keine Internetadresse des Rechteinhabers angegeben.</li>
</ul>
<h3>Anmerkung:</h3>
<p>Manche Rechteinhaber verwiesen z.B. auf ihre Internetseite, dann muss der Link übernommen werden, wenn dort auch Rechtehinweise oder Lizenzinformationen enthalten sind, z.B. die verwendete CC-Lizenz oder ein Urhebervermerk. Die Internetadresse der CC-Lizenz ist damit nicht gemeint und hier nicht in das Textfeld einzugeben.</p>