<ul class="answers">
	<li class="a1">Ich möchte das unveränderte Werk in seiner Ursprungsform nutzen.</li>
	<li class="a2">Ich möchte das Werk in veränderter Form nutzen (z. B. als Übersetzung, mit Hinzufügungen, Kürzungen oder Modifikationen, Ausschnitt aus einem Foto oder nach digitaler Bearbeitung).</li>
</ul>

<h3>Anmerkung:</h3>
<p>Nach unserer Auffassung sind Änderungen der Größe eines Fotos und der Bildauflösung sowie die Korrektur von Rechtschreibfehlern in der Regel keine Bearbeitungen bzw. &bdquo;Abwandlungen&rdquo; im Sinne der CC-Lizenzen. Dies mag dann anders sein, wenn dadurch der ursprüngliche Eindruck des Werkes mehr als nur unwesentlich verändert wird.</p>
