<p>In welcher Weise haben Sie das Werk bearbeitet und in welcher Form möchten Sie als Bearbeiter genannt werden? Bitte fügen Sie die entsprechenden Informationen in das Textfeld ein:</p>
<input type="text" class="a1" /><a class="a1">Übernehmen und weiter</a>

<h3>Anmerkung:</h3>
<p>Es muss deutlich werden, in welcher Weise das bearbeitete Werk verändert wurde und wer die Bearbeitung vorgenommen hat (z.B. „übersetzt von XY“, „ergänzt von XY“, „aktualisiert von XY“). Falls keine klare Einordnung möglich ist, sollten Sie „bearbeitet von“ mit Ihrem Namen einfügen. Anstatt des Namens kann auch ein Pseudonym, Nickname oder „anonym“ angegeben werden.</p>
