<p class="question">Unter welcher Creative Commons Lizenz hat der Rechteinhaber das Werk lizenziert?</p>
<ul class="answers">
	<li class="a1" data-licence-id="cc-by-2.0-de">Namensnennung 2.0 (BY 2.0 Deutschland)</li>
	<li class="a1" data-licence-id="cc-by-3.0-de">Namensnennung 3.0 (BY 3.0 Deutschland)</li>
	<li class="a1" data-licence-id="cc-by-3.0">Attribution 3.0 (BY 3.0 Unported)</li>
	<li class="a1" data-licence-id="cc-by-4.0">Attribution 4.0 (BY 4.0 International)</li>
	<li class="a1" data-licence-id="cc-by-sa-2.0-de">Namensnennung - Weitergabe unter gleichen Bedingungen 2.0 (BY-SA 2.0 Deutschland)</li>
	<li class="a1" data-licence-id="cc-by-sa-3.0-de">Namensnennung - Weitergabe unter gleichen Bedingungen 3.0 (BY-SA 3.0 Deutschland)</li>
	<li class="a1" data-licence-id="cc-by-sa-3.0">Attribution - ShareAlike 3.0 (BY-SA 3.0 Unported)</li>
	<li class="a1" data-licence-id="cc-by-sa-4.0">Attribution – ShareAlike 4.0 (BY-SA 4.0 International)</li>
	<li class="a9" data-licence-id="cc-zero">CC0 1.0 Universal</li>
	<li class="a10" data-licence-id="unknown">eine andere CC-Lizenz</li>
</ul>
