<p class="question">Wie soll das Bild genutzt werden?</p>
<ul class="answers">
	<li class="a1">Ich möchte das Werk auf einer Webseite im Internet nutzen.</li>
	<li class="a2">Ich möchte das Werk in einer Printpublikation (z.B. Buch, Broschüre, Zeitung) verwenden.</li>
	<li class="a3">Ich möchte das Werk rein intern und privat benutzen (d.h. ich gebe keine Kopien an Dritte weiter und mache das Werk auch anderweitig nicht Dritten zugänglich).</li>
	<li class="a4">Ich kann mich für die Nutzung auf eine urheberrechtliche Ausnahme berufen (z.B. Zitatrecht, Privatkopie).</li>
	<li class="a5">Ich möchte das Werk in anderer Weise nutzen.</li>
</ul>
