<ul class="answers">
	<li class="a1">Das Werk soll in einem Sammelwerk genutzt werden (z. B. ein CC-lizenzierter Text zusammen mit anderen Texten in einem Sammelband oder auf einer Webseite).</li>
	<li class="a2">Das Werk wird außerhalb eines Sammelwerks verwendet.</li>
</ul>

<h3>Anmerkung:</h3>
<p>Ein Sammelwerk ist eine Zusammenstellung von literarischen, künstlerischen oder wissenschaftlichen Inhalten, sofern diese Zusammenstellung aufgrund von Auswahl und Anordnung der darin enthaltenen selbständigen Elemente eine geistige Schöpfung darstellt.</p>
