<p>Wie lautet der Name des Urspungsautors oder Rechteinhabers bzw. bei mehreren Autoren oder Rechteinhabern sämtliche Namen? Bitte geben Sie die Informationen aus dem Urhebervermerk und ggf. eine Zuschreibung an Dritte (z.B. &bdquo;sponsored by XY&rdquo;) in das Textfeld ein:</p>
<input type="text" class="fld-custom1" /><a class="a1">Übernehmen und weiter</a>
<ul class="answers">
	<li class="a2">Es ist kein Name und/oder Zuschreibung an Dritte angegeben.</li>
</ul>
<h3>Anmerkung:</h3>
<p>Dies ist der beim Werk angegebene Name oder das Pseudonym des Autors bzw. der Autoren oder Rechteinhaber. Die Angaben sind in exakt der angegebenen Form vollständig in das Feld oben einzufügen, also ggf. mit einem &copy; und/oder Jahreszahl.</p>
