body {
  font-size: 14.5pt;
  padding-bottom: 42px;
}
textarea, input, .form-control:focus {
  outline: 0;
  box-shadow: 0;
  -webkit-box-shadow: none;
}

.display-none {
  display: none;
}

.alert.ag-alert {
  position: absolute;
  width: 100%;
  z-index: 1051;
}

.modal-backdrop {
  background-color: #fff;
}
.ag-modal .modal-content {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
}
.ag-modal .modal-header {
  height: 42px;
  text-align: center;
  background-color: #97b314;
  border-radius: 2px 2px 0 0;
  color: #fff;
  padding: 0;
}
.ag-modal .modal-title {
  font-size: 14.5pt;
  line-height: 42px;
}
.ag-modal .close {
  opacity: 1;
  color: #fff;
  text-shadow: none;
  font-weight: normal;
  line-height: 42px;
  margin-right: 10px;
}
.ag-modal .modal-body {
  padding: 10% 15%;
}
.ag-modal .modal-body, .ag-modal .modal-footer {
  background: #fff;
}

.green-btn {
  background-color: #97b314;
  color: #fff;
  padding: 5px 15px;
  height: 42px;
  border-radius: 2px;
  border: 0;
}
.green-btn:hover {
  background-color: #008752;
}

.screen {
  position: relative;
  height: 100vh;
}

.landing-screen {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.how-it-works-screen {
  background-color: #dce4e8;
  height: 80vh;
}
.how-it-works-screen .col-sm-3 {
  text-align: center;
}
.how-it-works-screen .close {
  margin: 15px 20px;
}

a, a:focus, a:active {
  color: #dce4e8;
  outline: none;
}
a:hover {
  color: #fff;
}

.wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
}
.top-wrapper {
  margin-top: 33vh;
}

.heading {
  height: 120px; /* should not be hardcoded? :/ */
  margin-top: -60px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 20px 25px;
  border-radius: 2px;
}
.heading h1, .heading h2 {
  padding: 0;
  margin: 0;
}
.heading h1 {
  font-size: 39.5pt;
  font-weight: bold;
}
.heading h2 {
  font-size: 15.2pt;
  font-weight: normal;
}

.how-it-works {
  margin-top: 40px;
}

.attribution {
  color: #dce4e8;
  background-color: #636466;
  font-style: italic;
  font-size: 11pt;
  height: 20px;
  line-height: 20px;
  padding: 0 5px 0 20px;
  bottom: 62px;
  position: absolute;
  border-radius: 0 2px 2px 0;
}

#file-form {
  position: absolute;
  top: 60%;
  margin-top: 42px;
  height: 42px;
  width: 100%;
  z-index: 1000;
}
#file-form input, #file-form button {
  vertical-align: middle;
}
#file-form input {
  font-size: 13pt;
  color: #bfbfbf;
  line-height: 30px;
  width: 680px;
  padding: 6px 12px;
  border: 0;
  border-radius: 2px 0 0 2px;
}
#file-form button {
  border-radius: 0 2px 2px 0;
  width: 66px;
}
#file-form-input-wrapper {
  display: inline-block;
}
#file-form ::-moz-placeholder {
  color: #777;
}
#file-form-alert {
  position: absolute;
  margin-left: -373px;
  margin-top: 5px;
  padding: 5px 15px 10px;
  width: 746px;
  left: 50%;
  background-color: #bf311a;
  text-align: left;
}
#file-form-alert .glyphicon {
  width: 30px;
  height: 25px;
}
#file-form-alert-placeholder {
  font-size: 10pt;
}

.feedback-form label {
  font-weight: normal;
}
.feedback-form .form-control {
  color: #636466;
}

.bottom-menu {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.bottom-menu li {
  list-style-type: none;
  display: inline-block;
}
.bottom-menu li a {
  display: block;
  padding: 10px 15px;
}
#wikimedia-logo {
  width: 118px;
  margin: 8px 12px;
  position: absolute;
  top: 0;
  right: 0;
}

#results-screen {
  min-height: 100vh;
  height: auto;
}
#results-screen a {
  box-sizing: border-box;
}
#results-screen a:hover {
  border: 3px solid #f00;
}

.dialogue-screen {
  overflow: hidden;
}
.dialogue-screen .image-preview {
  width: 40vw;
  float: left;
}
.dialogue-screen .image-wrapper {
  width: 40vw;
  float: left;
  background-color: rgb(238, 242, 244);
  text-align: right;
}
.dialogue-screen .image-thumbnail, .dialogue-screen .image-thumbnail-tail {
  margin-left: 10vw;
  max-width: 30vw;
}
.dialogue-screen .image-thumbnail-tail {
  height: 999999px;
  background-color: rgb(221, 229, 233);
  text-align: center;
  float: right;
}
.green-btn.small-btn {
  margin-top: 13px;
  font-size: small;
  height: initial;
}
.dialogue-screen .dialogue-header {
  color: #b4b4b4;
  border-top: 1px solid #b4b4b4;
  text-align: center;
  margin-top: 1em;
}
.dialogue-header span {
  padding: 5px;
  background: #fff;
  position: relative;
  top: -0.5em;
}
.dialogue-screen .dialogue {
  float: left;
  width: 50vw;
}
.dialogue-bubble h2 {
  color: #4b590a;
  font-size: 14.5pt;
  margin-top: 0;
  border-bottom: 1px solid #4b590a;
}
.dialogue-bubble .triangle {
  float: left;
  margin-top: 10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #97b314;
  border-bottom: 10px solid transparent;
}
.dialogue-bubble .bubble-content {
  min-width: 200px;
  background: #97b314;
  border-radius: 2px;
  padding: 10px;
  margin: 0 25px 0 20px;
}
.dialogue-bubble .bubble-text {
  color: #fff;
}
.dialogue-bubble label {
  display: block;
  font-weight: normal;
}
.dialogue-bubble .bubble-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}
.dialogue-bubble .bubble-columns p {
  break-after: column;
  -webkit-column-break-after: always;
}
.dialogue-screen .more-information {
  text-align: center;
  margin-top: 20px;
}
.dialogue-screen .cc-logo {
  width: 15px;
  margin-right: 5px;
}

.dialogue-screen #image-download-button .glyphicon {
  margin-right: 8px;
  height: 15px;
  width: 15px;
}
