body {
  font-size: 14.5pt;
}
textarea, input, .form-control:focus, textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover {
  outline: 0;
  box-shadow: 0;
  -webkit-box-shadow: none;
}

.display-none {
  display: none;
}

.alert.ag-alert {
  position: absolute;
  width: 100%;
  z-index: 1051;
}

.modal-backdrop {
  background-color: #fff;
}
.ag-modal .modal-content {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
}
.ag-modal .modal-header {
  height: 42px;
  text-align: center;
  background-color: #97b314;
  border-radius: 2px 2px 0 0;
  color: #fff;
  padding: 0;
}
.ag-modal .modal-title {
  font-size: 14.5pt;
  line-height: 42px;
}
.ag-modal .close {
  opacity: 1;
  color: #fff;
  text-shadow: none;
  font-weight: normal;
  line-height: 42px;
  margin-right: 10px;
}
.ag-modal .modal-body {
  font-size: 12pt;
  padding: 10% 15%;
}
.ag-modal .modal-body, .ag-modal .modal-footer {
  background: #fff;
}

.ag-modal a, .ag-modal a:hover, .ag-modal a:focus, .ag-modal a:active {
  color: #00f;
}

.green-btn {
  background-color: #97b314;
  color: #fff;
  padding: 5px 15px;
  height: 42px;
  border-radius: 2px;
  border: 0;
}
.green-btn:hover {
  background-color: #008752;
}

.screen {
  position: relative;
  height: 100vh;
}

.landing-screen {
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

.how-it-works-screen {
  background-color: #dce4e8;
  height: 80vh;
  padding-right: 10vw;
  padding-left: 10vw;
}

.how-it-works-screen .col-sm-3 {
  text-align: center;
  height: 40vh;
  width: 20vw;
}
.how-it-works-screen .row-1 .col-sm-3 {
  padding-top: 40px;
}

.how-it-works-screen .close {
  margin: 15px 20px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}

.how-it-works-image {
  width: 200px;
}

.how-it-works-col-1 {
  background-color: #c4cbcf;
}
.how-it-works-col-2 {
  background-color: #d0d8db;
}
.how-it-works-col-3 {
  background-color: #dce4e8;
}
.how-it-works-col-4 {
  background-color: #e8f1f5;
}

.how-it-works-col-1 img {
  padding-left: 17px;
  padding-right: 18px;
}
.how-it-works-col-2 img {
  padding-left: 17px;
  padding-right: 18px;
}
.how-it-works-col-3 img {
  padding-left: 33px;
  padding-right: 22px;
}
.how-it-works-col-4 img {
  padding-left: 23px;
  padding-right: 23px;
}

.how-it-works-screen p {
  padding: 18px;
}

a, a:focus, a:active {
  color: #dce4e8;
  outline: none;
}
a:hover {
  color: #fff;
}

.wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
}
.top-wrapper {
  margin-top: 33vh;
}

.heading {
  height: 120px; /* should not be hardcoded? :/ */
  margin-top: -60px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 20px 25px;
  border-radius: 2px;
}
.heading h1, .heading h2 {
  padding: 0;
  margin: 0;
}
.heading h1 {
  font-size: 39.5pt;
  font-weight: bold;
}
.heading h2 {
  font-size: 15.2pt;
  font-weight: normal;
}

.how-it-works {
  margin-top: 40px;
}

.attribution {
  color: #dce4e8;
  background-color: #636466;
  font-style: italic;
  font-size: 11pt;
  height: 20px;
  line-height: 20px;
  padding: 0 5px 0 20px;
  bottom: 62px;
  position: absolute;
  border-radius: 0 2px 2px 0;
}

#file-form {
  position: absolute;
  top: 60%;
  margin-top: 42px;
  height: 42px;
  width: 100%;
  z-index: 1000;
}
#file-form input, #file-form button {
  vertical-align: middle;
}
#file-form input {
  font-size: 13pt;
  color: #000;
  line-height: 30px;
  width: 680px;
  padding: 6px 12px;
  border: 0;
  border-radius: 2px 0 0 2px;
}
#file-form button {
  border-radius: 0 2px 2px 0;
  width: 66px;
}
#file-form-input-wrapper {
  display: inline-block;
}
#file-form ::-moz-placeholder {
  color: #777;
}
#file-form-alert {
  position: absolute;
  margin-left: -373px;
  margin-top: 5px;
  padding: 5px 15px 10px;
  width: 746px;
  left: 50%;
  background-color: #bf311a;
  text-align: left;
}
#file-form-alert .glyphicon {
  width: 30px;
  height: 25px;
}
#file-form-alert-placeholder {
  font-size: 10pt;
}

.feedback-form label {
  font-weight: normal;
}
.feedback-form .form-control {
  color: #636466;
}

#legal-notice-modal .checkbox input[type="checkbox"] {
    margin-left: inherit;
}

.bottom-menu {
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.bottom-menu li {
  list-style-type: none;
  display: inline-block;
}
.bottom-menu li a {
  display: block;
  padding: 10px 15px;
}
#wikimedia-logo {
  width: 118px;
  margin: 8px 12px;
  position: absolute;
  top: 0;
  right: 0;
}

#results-screen {
  min-height: 100vh;
  height: auto;
}
#results-screen a {
  box-sizing: border-box;
}
#results-screen a:hover {
  border: 3px solid #f00;
}

.dialogue-screen {
  position: relative;
  min-height: 100vh;
}
.dialogue-screen .image-preview {
  width: 40vw;
  height: calc(100% - 40px);
  position: absolute;
  overflow: hidden;
  float: left;
}
.dialogue-screen .image-wrapper {
  width: 40vw;
  background-color: rgb(238, 242, 244);
  text-align: right;
}
.dialogue-screen .image-thumbnail, .dialogue-screen .image-thumbnail-tail {
  margin-left: 10vw;
  max-width: 30vw;
}
.dialogue-screen .image-thumbnail-tail {
  height: 999999px;
  background-color: rgb(221, 229, 233);
  text-align: center;
  float: right;
}
.green-btn.small-btn {
  margin-top: 13px;
  font-size: small;
  height: initial;
}
.dialogue-screen .dialogue-header {
  color: #b4b4b4;
  border-top: 1px solid #b4b4b4;
  text-align: center;
  margin-top: 1em;
}
.dialogue-header span {
  padding: 5px;
  background: #fff;
  position: relative;
  top: -0.75em;
}
.dialogue-screen .dialogue {
  margin-left: 40vw;
  width: 50vw;
}
.dialogue-bubble h2 {
  color: #4b590a;
  font-size: 14.5pt;
  margin-top: 0;
  border-bottom: 1px solid #4b590a;
}
.dialogue-bubble .triangle {
  float: left;
  margin-top: 10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid #97b314;
  border-bottom: 10px solid transparent;
}
.dialogue-bubble .bubble-content {
  min-width: 200px;
  background: #97b314;
  border-radius: 2px;
  padding: 10px;
  margin: 0 25px 0 20px;
}
.dialogue-bubble .bubble-text {
  color: #fff;
}
.dialogue-bubble label small {
  font-size: 70%;
}
.dialogue-bubble label small a {
  color: #fff;
  text-decoration: underline;
}
.dialogue-bubble input[type=text] {
  border-radius: 2px 0 0 2px;
  width: 75%;
  border: 0;
  color: #000;
  padding: 8px 10px;
}
.dialogue-bubble button.green-btn, .dialogue-bubble input[type=text] {
  height: 28px;
  font-size: 12px;
  vertical-align: middle;
}
.dialogue-bubble button.green-btn {
  border: 1px solid #fff;
  border-left: 0;
  height: 28px;
  opacity: 0.5;
}
.dialogue-bubble button.green-btn:hover {
  opacity: 1;
  background: inherit;
}
.dialogue-bubble .question-mark {
  border: 0;
  font-size: 12px;
  font-weight: bold;
  border-radius: 100%;
  color: #97b314;
  background: #108654;
  display: inline-block;
  height: 16px;
  width: 16px;
  padding: 0;
  vertical-align: top;
  outline: 0;
}
.dialogue-bubble h2 .question-mark-content {
  margin-top: 10px;
}
.dialogue-bubble .bubble-text .question-mark.active {
  background: #fff;
}
.dialogue-bubble .qm-wrapper {
  padding-right: 20px;
  position: relative;
}
.dialogue-bubble h2 .question-mark {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -13px;
}
.dialogue-bubble h2 .question-mark.active {
  background: #4b590a;
}
.dialogue-bubble .question-mark:hover {
  background-color: #fff;
}
.dialogue-bubble .question-mark-content {
  display: none;
  font-size: 14px;
}
.dialogue-bubble label {
  font-weight: normal;
  margin-bottom: 0;
}
.dialogue-bubble .form-group {
  margin: 5px 0;
}
.dialogue-bubble .bubble-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}
.dialogue-bubble .bubble-columns p {
  break-after: column;
  -webkit-column-break-after: always;
}
.dialogue-screen .more-information {
  text-align: center;
  margin-top: 20px;
}
.dialogue-screen .cc-logo {
  width: 15px;
  margin-right: 5px;
}

.dialogue-screen #image-download-button .glyphicon {
  margin-right: 8px;
  height: 15px;
  width: 15px;
}
.final-attribution {
  margin: 40px 0 0 20px;
  padding-bottom: 0;
}
.final-attribution h2 {
  border: 0;
  color: #97b314;
  margin: 0 0 0 8px;
}
.final-attribution .attribution-box {
  border: 1px solid #97b314;
  word-wrap: break-word;
  border-left-width: 4px;
  border-radius: 2px;
  padding: 9px 4px;
}
.final-attribution .buttons {
  margin: -2px 0 0 12px;
}
.final-attribution button.green-btn {
  border: 1px solid #97b314;
  color: #aaa;
  background: #fff;
  padding: 7px;
  border-radius: 0 0 2px 2px;
  opacity: 1;
  outline: none;
}
.final-attribution .active.green-btn {
  border-top-color: #fff;
  color: #97b314;
}
#copy-attribution {
  margin-top: 1px;
  background: #97b314;
  color: #fff;
  float: right;
}
#copy-attribution:hover {
  background: #008752;
}
@keyframes flash {
  0% { background-color: #008752; }
  20% { background-color: #97b314; }
  40% { background-color: #008752; }
  60% { background-color: #97b314; }
  80% { background-color: #008752; }
  100% { background-color: #97b314; }
}
#copy-attribution.flash {
  animation-name: flash;
  animation-duration: 0.8s;
}
.dos-and-donts {
  margin-top: 40px;
  font-size: 14px;
}
.dos-and-donts .dos, .dos-and-donts .donts {
  width: 50%;
  float: left;
}
.dos-and-donts .dd-list {
  padding-left: 45px;
  position: relative;
}
.dos-and-donts .dd-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: #97b314;
  font-size: 35px;
  padding: 3px;
  text-align: center;
  border-radius: 100%;
}
.dos-and-donts h3, .dos-and-donts p {
  margin: 0;
  padding: 0;
}
.dos-and-donts p .glyphicon {
  font-size: 11px;
}
.dos-and-donts a, .dos-and-donts a:hover {
  color: #000;
  text-decoration: underline;
}
.final-attribution a, .final-attribution a:hover {
  color: #00c;
  text-decoration: underline;
}
.dialogue .licence-link {
  margin: 35px 0 50px;
  text-align: center;
}
.info-box {
  background: #97b314;
  color: #fff;
  position: relative;
  border-bottom: 1px solid #4b590a;
  min-height: 80px;
}
.info-box:last-child {
  border-bottom: 2px solid #4b590a;
}
.info-box .close {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1;
}
.info-box .info-box-text {
  padding: 17px;
  float: left;
  margin-right: 215px;
}
.info-box .info-box-button {
  text-align: right;
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 0;
}
.info-box .small-btn {
  border: 1px solid #fff;
}
