<h1>Was tut diese Seite?</h1>
<p>Diese Webseite soll helfen, dass mehr Menschen einfacher als bisher
Bilder von Wikimedia Commons legal nachnutzen können.</p>

<h1>Wie das?</h1>
<p>Ein Computerprogramm versucht, alle Informationen zusammenzutragen,
die bei einem Kopieren oder Weiterveröffentlichen von Bildern z.B. von
Wikipedia nötig sind und zwingend zu dem Bild genannt werden müssen.</p>

<h1>Warum das?</h1>
<p>Viele Bilder von Wikipedia und ihren Schwesterprojekten sind
urheberrechtlich geschützt. Die Urheber haben Rechte, die ihnen
erlauben zu bestimmen, wer wann was mit diesen Bildern machen darf. Im
Falle von Wikipedia müssen sie die Weiterverbreitung erlauben, damit
die Bilder auf die Server des Wikipedia-Betreibers geladen werden
können. Allerdings dürfen sie an die Benutzung der Bilder Bedingungen
knüpfen. Zu diesen Bedingungen zählt das Recht, als Urheber genannt zu
werden. Es kann manchmal herausfordernd sein, alle diese Bedingungen
so einzuhalten, wie der Text der Lizenzbedingungen es verlangt. Dies
möchten wir vereinfachen.</p>

<h1>Welche Lizenzen werden unterstützt?</h1>
Diese Anwendung unterstützt folgende Lizenzen:
<span class="app-supportedLicences">
	<!-- Supported Licences will be inserted here automatically. -->
</span>

<hr/>

<p>Diese Seite dient der Entwicklung eines Werkzeuges für die legale
Nachnutzung von bestimmten urheberrechtlich geschützten Bildern. Sie
kann niemals alle möglichen Anwendungsfälle und Besonderheiten
abdecken und ersetzt in keinem Fall die qualifizierte juristische
Beratung durch einen Anwalt.<br />
Die hier angebotenen Informationen dienen zur Erleichterung der
Recherche und sollten zum gegenwärtigen Zeitpunkt nicht ungeprüft
übernommen werden. Bitte verwenden Sie dieses Werkzeug nicht für
andere Zwecke als zur Weiterentwicklung und zum Testen.</p>
