<h1>Wem stelle ich meine Frage?</h1>

<p>Wir freuen uns über jede Art von Rückmeldung an:</p>

<p>Wikimedia Deutschland<br />
- Politik und Gesellschaft -<br/>
Tempelhofer Ufer 23-24<br />
10963 Berlin<br />
E-Mail: <a href="mailto:politik@wikimedia.de">politik@wikimedia.de</a>

<h1>Ich habe einen Fehler gefunden!</h1>

<p>Oh, das freut uns! Das heißt, wir freuen uns noch mehr, sobald dieser
Fehler behoben wurde und nicht mehr vorkommt. Bitte sage uns dazu
Bescheid, was nicht so funktioniert hat wie gedacht, entweder per
E-Mail politik@wikimedia.de oder auf der
<a href="https://github.com/wmde/file-reuse/issues?state=open">Entwicklerplattform</a>.
</p>
