{{#>dialogueBubble}}
	{{#*inline 'title'}}
		{{translate 'dialogue.compilation-headline'}}
	{{/inline}}

	{{#*inline 'content'}}
		<form class="immediate-submit">
			<div class="form-group checkbox">
				<label>
					<input type="checkbox" name="compilation" value="true">
					{{translate 'dialogue.answer-compilation'}}
				</label>

				{{>questionMark target='qm-compilation'}}
				<div id="qm-compilation" class="question-mark-content">
					{{translate 'dialogue.compilation-question-mark'}}
				</div>
			</div>

			<div class="form-group checkbox">
				<label>
					<input type="checkbox" name="compilation" value="false">
					{{translate 'dialogue.answer-no-compilation'}}
				</label>
			</div>
		</form>
	{{/inline}}
{{/dialogueBubble}}
