{{#>dialogueBubble}}
	{{#*inline 'title'}}
		{{translate 'dialogue.public-domain-picture'}}
	{{/inline}}

	{{#*inline 'content'}}
		<div class="bubble-columns">
			{{{translate 'dialogue.public-domain-text'}}}
		</div>
	{{/inline}}
{{/dialogueBubble}}
