{{#>dialogueBubble}}
	{{#*inline 'title'}}
		{{translate 'dialogue.type-of-use-headline'}}
	{{/inline}}

	{{#*inline 'content'}}
		<form class="immediate-submit">
			<div class="form-group checkbox">
				<label>
					<input type="checkbox" name="type" value="print">
					{{translate 'dialogue.answer-print'}}
				</label>
			</div>

			<div class="form-group checkbox">
				<label>
					<input type="checkbox" name="type" value="online">
					{{translate 'dialogue.answer-online'}}
				</label>
			</div>
		</form>
	{{/inline}}
{{/dialogueBubble}}
