Bitte beachten Sie die nachfolgend aufgelisteten Verbote:
<ul>
	<li>Sie dürfen keine Vertrags- oder Nutzungsbedingungen verwenden die im Hinblick auf das CC-lizenzierte Werk die Rechte aus der CC-Lizenz beschränken (z.B. allgemeine Weitergabeverbote für die Inhalte auf einer Website, die die CC-lizenzierten Werke nicht explizit ausnehmen).</li>
	<li>Sie dürfen keine Unterlizenzen an dem Werk einräumen. Dies bedeutet, dass Sie nicht selbst als Lizenzgeber auftreten dürfen und potenzielle Lizenznehmer unmittelbar von dem Rechteinhaber eine CC-Lizenz erwerben müssen.</li>
	<li>Sofern das Werk Hinweise auf eine CC-Lizenz und/oder auf einen Haftungsausschluss enthält, dürfen diese Hinweise nicht geändert oder gelöscht werden.</li>
	<li>Sie dürfen keine technischen Schutzmaßnahmen verwenden, die den Nutzer bei der Ausübung von Rechten aus der CC-Lizenz behindern können (z.B. Kopierschutztechnik, die den Ausdruck eines pdf verhindert).</li>
</ul>
